<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <form action="/action" method="post">
        <label for="name">What is your name?</label>
        <input name="name" type="text">
        <label for="mood">What is your mood?</label>
        <select name="mood">
            <option>Happy</option>
            <option>Sad</option>
            <option>Angry</option>
        </select>
    </form>
</body>
</html>